.centered {
    text-align: center;
}

.large {
    font-size: large;
}

.medium {
    font-size: medium;
}

.small {
    font-size: small;
}

.red {
    color: red;
}

#harvard {
    color: red;
}

#id {
    color: cadetblue;
}